

 .marcontainer{
    display: block;
    max-width: 50px;
    max-height: 50px;
   border-radius: 60px;
 }
 .divicion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 450px;  
    background-color: #fff;
  }
  .cente{
     display: block;
    flex-direction: row;  
    align-items: center;
    padding: 0 20px;  
    background-color: #fff;}
 
    .letras{
      text-align: center;
    }
    .con{
      font-size: 10px;
      display: flex;
      background-color:rgb(125, 192, 255);
      width: 100%;
      max-width: 450px;
      height: 80px;
      border-radius: 10px;
    }
    
    .con1{
      display: flex;
      background-color: rgb(245, 169, 192);
      width: 100%;
      max-width: 500px;
      height: 100%;
      max-height: 200px;
      border-radius: 10px;
     
    }
    .con2{
      display: flex;
      background-color: rgb(187, 155, 248);
      width: 100%;
      max-width: 200px;
      height: 100%;
      max-height: 200px;
      border-radius: 10px;
     
    }
    .con3{
      display: flex;
      background-color: rgb(245, 169, 192);
      width: 100%;
      max-width: 200px;
      height: 100%;
      max-height: 200px;
      border-radius: 10px;
     
    }
    .con4{
      display: flex;
      background-color: rgb(187, 155, 248);
      width: 100%;
      max-width: 200px;
      height: 100%;
      max-height: 200px;
      border-radius: 10px;
     
    }
    .linea{
      text-decoration: none;
    }
    .ba{
    
      width: 200px;
      height: 10px;
    }

    @media(
      max-width: 360px
    )

    {
      
      
      .con{width: 350px;}
      .con1{width: 170px;}
      .con2{width: 180px;}
      .con3{width: 160px;}
      .con4{width: 200px;}
     .divicion{padding: 0 10px; }
  }
